OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL= deepseek-r1:latest
FLASK_SECRET_KEY=your-secret-key-change-this
FLASK_ENV=development
DB_HOST=localhost
DB_USER=edeltaes
DB_PASSWORD=1234
DB_NAME=datavoice